*{
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    color: #396481;
}
a{
    text-decoration:none;
    color:inherit;
}
a:hover{
    text-decoration:none;
    color:inherit;
}
:root{
    font-size:16px;
}

@media screen and (max-width: 500px){
    :root{
        font-size:14px;
    }
}

.shake {
    animation-name: shaking;
    animation-iteration-count: 3;
    animation-timing-function: linear;
    animation-duration: 200ms;
    position: relative;
}

@keyframes shaking {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(10px);
    }
}