/*
	< < < Reset > > >
*/
* {	/* Style Reset */
    /* Sizing Fixes */
    box-sizing: border-box;
    margin:0;
    padding:0;
    /* Borders, Lists, Etc. */
    border: none;
    list-style: none;
    text-decoration: none;
}