$default-color: #FFF;
$default-color-dark: darken($default-color, 10%);
$default-color-darker: darken($default-color, 20%);
$primary-color: #3279a5;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-darker: darken($primary-color, 20%);
$secondary-color: #002249;
$secondary-color-dark: darken($secondary-color, 10%);
$secondary-color-darker: darken($secondary-color, 20%);

$global-warning-background: #faa05a;
$global-danger-background: #f0506e;

$text-dark: #002149;
$text-light: #EEE;
$base-heading-color: $text-dark;
/* Globals */
/* Text Color */
$global-color: $text-dark;
$global-inverse-color: $text-light;
/* Backgrounds */
$global-background: $default-color;
$global-primary-background: $primary-color;
$global-secondary-background: $secondary-color;
/* Navbar */
$navbar-background: $primary-color-darker;
$navbar-item-color: $text-light;
$navbar-nav-item-hover-color: $secondary-color;


$base-heading-font-family: "Noto Serif", sans-serif;
$base-body-font-family: 'Roboto', sans-serif;